.dialog-todo .btn-action {
  text-align: right;
}

.dialog-todo .title-dialog {
  text-align: center;
  text-transform: capitalize;
}

.dialog-todo .layout-padding {
  width: 30%;
}

.dialog-todo .icon-close {
  position: absolute;
  right: 0;
}

.dialog-todo .message-delete {
  text-align: center;
}

.to-do .action-search {
  margin: 0;
  vertical-align: text-top;
}

.to-do {
  padding-top: 50px;
}
